
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

a{
    text-decoration:none;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #274e13;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar img{
  color: #fff;
  width: 80px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #173a05;
}
.sidebar.open input{
  padding: 0 20px 0 55px;
  width: 100%;
  border: none;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #274e13;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #173a05;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #274e13;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #173a05;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .type{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .type{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #173a05;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E4E9F7;
  padding: 2%;
  left: 78px;
  top: 35px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
@media (max-width: 590px) {
  .home-section{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E4E9F7;
  padding: 2%;
  top: 35px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  }
}
body{
  background: #E4E9F7;
}
.shoppingcart{
  display: flex;
  align-items: center;
  font-size: 150%;
  width:100%;
  margin-left: 18%;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

/* CSS DA CAIXA DE LOGIN/CADASTRO */
.container{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 60vh;
}

  /* content que contem os formulários */
  .content{
    width: 500px;
    margin: 0px auto;
    position: relative; 
  }
  @media (max-width: 590px) {
    .content{
      width: 100%;
      font-size: 10px;
      top: 70px;
      left: 15px;
    }
  }
  
  /* formatando o cabeçalho dos formulários */
  h1{
    font-size: 48px;
    color: #274e13;
    padding: 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
  @media (max-width: 590px) {
    h1{
      font-size: 30px;
    }
  }
  
  h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(127, 175, 143, 0) 0%,rgba(147, 189, 157, 0.8) 20%,rgb(147, 189, 154) 53%,rgba(147, 189, 164, 0.8) 79%,rgba(147, 189, 159, 0) 100%); 
    background: linear-gradient(left, rgba(147, 189, 151, 0) 0%,rgba(87, 167, 116, 0.8) 20%,rgb(147, 189, 162) 53%,rgba(147, 189, 152, 0.8) 79%,rgba(147, 189, 154, 0) 100%); 
  }
  
  p{
    margin-bottom:15px;
  }
  p:first-child{
    margin: 0px;
  }
  label{
    color: black;
    position: relative;
  }
  
  /**** advanced input styling ****/
  /* placeholder */
  .input-login:-moz-placeholder,
  textarea:-moz-placeholder{
    color: #bebcbc;
    font-style: italic;
  } 
  .input-login {
    outline: none;
  }
  @media (max-width: 425px){
    .input-login{
      height: 30px;
    }
  }
  .input-login:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;  
    border: 1px solid #b2b2b2;
    
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  /*estilo do botão submit */
  .input-login[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: #274e13;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff; 
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    transition: all 0.2s linear;
  }
  .input-login[type="submit"]:hover{
    background: #173a05;
  }
  @media (max-width: 425px){
    .input-login[type="submit"]{
      font-size: 15px;
      padding: 1%;
    }
  }
  /*marcando os links para mudar de um formulário para outro */
  .link{
    position: absolute;
    color: black;
    left: 0px;
    width: 90%;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;
  
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
  }
  @media (max-width: 590px) {
    .link{
      width: 100%;
      font-size: 10px;
    }
  }
  .link a {
    font-weight: bold;
    background: #274e13;
    padding: 6px;
    color: #fff;
    margin-left: 10px;
    border: none;
    padding: 2%;
  
    -webkit-border-radius: 4px;
    border-radius: 4px;  
  
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
  }
  @media (max-width: 590px) {
    .link a{
      font-size: 8px;
    }
  }
  .link a:hover {
    color: #274e13;
    background: #f7f7f7;
    border: 1px solid #173a05;
  }
  
  /* estilos para para ambos os formulários */
  #cadastro, 
  #login{
    position: absolute;
    top: 0px;
    width: 88%; 
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189,0.8);
    
    -webkit-box-shadow: 5px;
    border-radius: 5px;
    
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
  
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }
  
  #paracadastro:target ~ .content #cadastro,
  #paralogin:target ~ .content #login{
    z-index: 2;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
  }
  #registro:target ~ .content #login,
  #paralogin:target ~ .content #cadastro{
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
  }
  
  /*fadeInLeft*/
  @-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /*fadeOutLeft*/
  @-webkit-keyframes fadeOutLeft {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
  }
  
  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-20px);
    }
  }
  .box-eye{
    display: flex;
    align-items: center;
  }
#olho{
  position: relative;
  right: 15%;
  z-index: 2;
  font-size: 145%;
  opacity: 0.4;
}



