/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

a{
    text-decoration:none;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #274e13;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar img{
  color: #fff;
  width: 80px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #173a05;
}
.sidebar.open input{
  padding: 0 20px 0 55px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #274e13;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #173a05;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #274e13;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #173a05;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .type{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .type{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #173a05;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  display: flex;
  flex-direction: column;
  background: #E4E9F7;
  padding: 2%;
  left: 78px;
  width: calc(100% - 78px);
  min-height: 200px;
  transition: all 0.5s ease;
  z-index: 2;
  overflow-x: hidden;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

.titulo{
    margin-bottom: 2%;
    margin-top: 2%;
}

.categoria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.categorias{
  display: block;
  
}

.produto .img-produto{
    display: flex;
    align-items: center;
    background-color: #cbd1e4;
    border-radius: 10px;
}

.produto .img-produto{
    width: 500px;
    height: 400px;
    padding: 2%;
    cursor: pointer;
   
}

.produto {
  margin: 0.5%;
  margin-bottom: 2%;
  overflow: hidden;
}

.img-produto:hover{
    border-radius: 10px;
   border-radius: 5%;
}

.produto .produto-nome{
    text-align: center;
    background: #173a05;
    color: #fff;
    transition-duration: 0.5s;
    padding: 5px;
    cursor: pointer;
}

.produto .produto-nome:hover{
    color: #b5ff8f;
}

.produto .produto-preco{
    text-align: center;
    background: #274e13;
    color: #fff;
    cursor: default;
    padding: 2px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
}
.produto .produto-preco:hover{
  color: #b5ff8f;
}
.produto-preco .carrinho-btn {
  margin-left: 2%;
  background-color: transparent;
  border:none;
  display: flex;
  align-items: center;
}
.carrinho-btn{
  width:10%;
  border: none;
  background-color: transparent;
}
.carrinho-btn:hover{
  transform: scale(2);
  cursor: pointer;
  transition-duration: 0.3s;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #274e13;
  padding: 2%;
  border-radius: 4%;
  color: #ffff;
}
.add-btn{
  background-color: #fff;
  border-radius: 10%/50%;
  padding: 1%;
  font-weight: 600;
  background-color: #b5ff8f;
  border: none;
}
.add-btn:hover{
  transform: scale(1.2);
  cursor: pointer;
  transition-duration: 0.3s;
}
.buttons{
  display: flex;
  align-items: center;
  width: 250%;
}
.input-count{
  width: 50%;
  height: 30px;
  text-align: center;
  margin: 10%;
  border-radius: 20%/60%;
}
.comments{
  display: flex;
  margin-left:78px;
}
.escreva{
  background-color: #173a05;
  padding: 0.5%;
  color:  #fff;
  text-align: center;
  
}
.input-text{
  background-color: transparent;
  border: none;
  font-size: 15px;
  opacity: 0.8;
  height: 200%;
}